@charset "UTF-8";
/* Common CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #eef0f3;
  font-family: Arial;
}

.container {
  width: 80%;
  margin: auto;
}



/* Nav Bar CSS */
.navbar {
  background: #fff;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

/* Nav Links */
.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
  align-items: center;
}

/* Normal Nav Buttons */
.nav-button {
  text-decoration: none;
  color: black;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

/* Hover effect (color + underline animation) */
.nav-button:hover {
  color: #0B79D2;
}

/* Underline animation */
.nav-button::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -4px;
  background-color: #0B79D2;
  transition: width 0.3s ease;
}

.nav-button:hover::after {
  width: 100%;
}

/* Book Appointment Button */
.book-btn {
  background-color: #0B79D2;
  color: white;
  padding: 10px 18px;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  transition: all 0.3s ease;
}

/* Hover for button */
.book-btn:hover {
  background-color: #095fa8;
  transform: translateY(-3px) scale(1.03);
  box-shadow: 0 5px 12px rgba(0,0,0,0.2);
}

/* Click effect */
.book-btn:active {
  transform: scale(0.96);
}



/* Hero Section CSS */

.hero {
  padding: 60px 0;
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero-text p {
  margin-bottom: 20px;
  color: gray;
   max-width: 500px;
  line-height: 1.6;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn-primary {
  background-color: #0B79D2;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
}

.btn-secondary {
  border: 1px solid black;
  padding: 10px 15px;
  text-decoration: none;
  color: #000000;
}

.hero-img {
  width: 600px;
  height: 350px;
  object-fit: cover;
}


/* Features Section CSS */
.feature-row {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.feature-card {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon-img {
  width: 45px;
  height: 45px;
}

/* Treatment Normal Body CSS */

.treatments {
  text-align: center;
  margin-top: 60px;
}

.treatments h2 {
  margin-bottom: 10px;
}

.treatments p {
  color: gray;
}


/* treatment Card Section */
.services {
  padding: 60px 0;
}

.section-title {
  margin-bottom: 30px;
  text-align: center;
}

.service-row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.service-card {
  width: 32%;
  background-color: #f3f4f6;
  overflow: hidden;
  padding: 0;
  text-align: left;
}

.service-img {
  width: 100%;
  height: 270px;
}

.service-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.service-content {
  padding: 24px;
}

.service-icon {
  width: 36px;
  height: 36px;
  background-color: #e8f1ff;
  color: #2386f5;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.service-card h3 {
  font-size: 20px;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 14px;
}

.service-card p {
  font-size: 15px;
  line-height: 1.8;
  color: #94a3b8;
  margin-bottom: 20px;
}

.learn-more {
  color: #2386f5;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  position: relative;
  transition: all 0.3s ease;
}

/* Hover Effect */
.learn-more:hover {
  color: #0f6fc2;
}

/* Underline animation */
.learn-more::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -3px;
  background-color: #0f6fc2;
  transition: width 0.3s ease;
}

.learn-more:hover::after {
  width: 100%;
}


/* Contact Section */
.cta {
  background-color: #1683e2;
  padding: 70px 0;
  text-align: center;
  color: white;
}

.cta-wrapper h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 18px;
}

.cta-wrapper p {
  max-width: 700px;
  margin: 0 auto 30px;
  font-size: 15px;
  line-height: 1.8;
  color: #eaf4ff;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 14px;
  flex-wrap: wrap;
}

.cta-btn-primary {
  background-color: white;
  color: #1683e2;
  text-decoration: none;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  width: 250px;
}

.cta-btn-secondary {
  border: 1px solid #8fc4f5;
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  width: 250px;
}


/* Footer Section */
.footer {
  background-color: #d9d9d9;
  padding: 40px 0 20px;
  color: #111;
  font-family: Arial, sans-serif;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-brand {
  max-width: 260px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.logo-box {
  width: 22px;
  height: 22px;
  background-color: black;
}

.footer-logo span {
  font-size: 20px;
  font-weight: bold;
}

.footer-brand p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  gap: 12px;
}

.social-icons a {
  width: 32px;
  height: 32px;
  background-color: #bfbfbf;
  color: black;
  text-decoration: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
}

.footer-links h3,
.footer-contact h3 {
  font-size: 16px;
  margin-bottom: 15px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 10px;
}

.footer-links ul li a,
.footer-bottom-links a {
  text-decoration: none;
  color: #111;
  font-size: 14px;
}

.footer-contact p {
  margin-bottom: 12px;
  font-size: 14px;
}

hr {
  border: none;
  border-top: 1px solid #999;
  margin: 30px 0 15px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-bottom-links {
  display: flex;
  gap: 25px;
}